* {
	margin: 0;
	padding: 0;
}

:root {
  font-size: calc(0.5em + 1vw);
}

#header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;

  height: 8em;
  width: 100%;
  padding: 0 2em;
	background-color: #f8f8f8;
	box-shadow: inset 0 0 .25em hsla(0, 0%, 0%, 0.125);
}

.bar-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
  width: 5em;
  height: 2.5em;
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.5em;
}

button:hover {
	background-color: #e8e8e8;
  cursor: pointer;
}
