* {
	margin: 0px;
	padding: 0px;
}

#content {
  margin: 25px;
}

#header-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;

  height: 100px;
  padding: 0 25px;
	background-color: #f8f8f8;
	box-shadow: inset 0px 0px 8px lightgrey;
}

.bar-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
  width: 100px;
  height: 50px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 6px;
}

button:hover {
	background-color: #e8e8e8;
  cursor: pointer;
}

#sig-wrapper { /* allows the img room to grow beyond button size*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 75px;
}

#sig {
	width: 100px;
	height: 50px;
}

#sig img {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 125px;
  height: 75px;
}

#menu-wrapper {
  position: relative;
}

#menu img {
  margin: 0px;
	width: 75px;
  height: 50px;
}

#menu-content {
  display: none;
}

#menu-item {
  display: flex;
  margin: 0 10px 5px 10px;
  flex-direction: row-reverse;
}

#menu-wrapper:hover #menu-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #e8e8e8;
  width: 200px;
  right: 0;
  border-radius: 6px;
  border-top-right-radius: 0px;

}

#menu-wrapper:hover #menu {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #e8e8e8;
}
