
#menu-item {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 15px 5px 15px;
  color: black;
  white-space: nowrap;
}

#menu-item:hover {
  background-color: #f8f8f8;
  color: black;
}
