#logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10rem;
  height: 6rem;
}

#logo button {
	width: 7.5em;
	height: 3.75em;

  
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.5em;

}
