
#menu {
  position: relative;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}

#menu * {
  text-transform: uppercase;
}

#menu-content {
  display: none;
  padding-bottom: 10px;
}

#menu:hover #menu-content {
  display: block;
  position: absolute;
  flex-direction: column;
  background-color: #e8e8e8;
  right: 0;
  top: 0;
  padding-top: 50px;
  border-radius: 6px;
  z-index: -1;
  box-shadow: 0px 4px 0px lightgrey;
}

#menu a {
  color: black;
  text-decoration: none;
}

#menu:hover #menu-button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #e8e8e8;

  cursor: default;
}

#menu button {
  width: 5em;
  height: 2.5em;
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.5em;
}
